
.letter__generator__container{
    background-color: rgb(215, 226, 240);
}
.letter__form__container{
        background-size: cover;
        padding-top: 30px;
        border: 1px solid red;
}
.letter__generator__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.letter__generator{
    border: 1px solid green;
    width: 55%;
    
}